.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.body {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}

.api-list {
  display: flex;
  width: 500px;
  height: auto;
  flex-direction: column;
  margin: 5px;
}

.my-book-list {
  display: flex;
  width: 500px;
  height: auto;
  flex-direction: column;
  margin: 5px;
}

.book-container {
  height: 110px;
  margin: 15px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-detail {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}

.authors {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}

.book-img {
  width: 70px;
  height: 102px;
}

.book-button {
  width: fit-content;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
